{extends file='layout/main.html'}
{block name="main"}

<div class="main_title">
	<h2>模型管理</h2>
	<p>您能够在这里管理您所创建的模型, 也可以新建您的模型</p>
</div>

<ul class="model_list clearfix">
	<li>
		<img src="{gen_theme_url('images/model_icon.png')}" alt="" class="fl" />
		<h1 class="tac"><a href="">新建模型</a></h1>
		<h3 class="gray tac">请您新建模型</h3>
		<p class="light_gray">操作不可用</p>
	</li>
	<li>
		<img src="{gen_theme_url('images/model_icon.png')}" alt="" class="fl" />
		<h1>标题标题标题标</h1>
		<h3 class="gray">简介简介简介简介简介简介简介简介简介简介</h3>
		<p><a href="#">添加内容</a><a href="#">查看内容</a> <a href="#">修改模型</a> <a href="#">删除模型</a></p>
	</li>
	<li>
		<img src="{gen_theme_url('images/model_icon.png')}" alt="" class="fl" />
		<h1>标题标题标题标</h1>
		<h3 class="gray">简介简介简介简介简介简介简介简介简介简介</h3>
		<p><a href="#">添加内容</a><a href="#">查看内容</a> <a href="#">修改模型</a> <a href="#">删除模型</a></p>
	</li>
	<li>
		<img src="{gen_theme_url('images/model_icon.png')}" alt="" class="fl" />
		<h1>标题标题标题标</h1>
		<h3 class="gray">简介简介简介简介简介简介简介简介简介简介</h3>
		<p><a href="#">添加内容</a><a href="#">查看内容</a> <a href="#">修改模型</a> <a href="#">删除模型</a></p>
	</li>
	<li>
		<img src="{gen_theme_url('images/model_icon.png')}" alt="" class="fl" />
		<h1>标题标题标题标</h1>
		<h3 class="gray">简介简介简介简介简介简介简介简介简介简介</h3>
		<p><a href="#">添加内容</a><a href="#">查看内容</a> <a href="#">修改模型</a> <a href="#">删除模型</a></p>
	</li>
	<li>
		<img src="{gen_theme_url('images/model_icon.png')}" alt="" class="fl" />
		<h1>标题标题标题标</h1>
		<h3 class="gray">简介简介简介简介简介简介简介简介简介简介</h3>
		<p><a href="#">添加内容</a><a href="#">查看内容</a> <a href="#">修改模型</a> <a href="#">删除模型</a></p>
	</li>
	
</ul>
{/block}