{include file="lib/header.html"}
<!--main-->
<div id="main">
  {include file="lib/history.html"}
	<div class="breadcrumb">
	  <a href="?url=index">首页</a> <img src="{gen_theme_url('images/i.png')}" class="ico"> <a href="?url=menu">菜单管理</a>
	</div>
	<div class="m10"><a href="?url=menu/create"><input type="button" class="add" /></a></div>
	
	<div class="container m10">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<thead>
	<tr>
		<th>名称</th>
		<th>操作</th>
	</tr>
	</thead>
	{if $data && $data->valid()}
	{foreach $data as $val}
	<tr>
		<td>{if $val.parent_id}|____{/if}{$val.name}</td>
		<td><a href="?url=menu/update&id={$val.id}"><img src="{gen_theme_url('images/i.png')}" class="edit"></a> <a href="?url=menu/delete&id={$val.id}" class="delete"><img src="{gen_theme_url('images/i.png')}" class="del"></a></td>
	</tr>
	{/foreach}
	{/if}
</table>
	</div>
</div>
<!--/main-->
{include file="lib/footer.html"}