{include file="lib/header.html"}

<!--main-->
<div id="main">
  {include file="lib/history.html"}

	<div class="breadcrumb"><a href="?url=index">首页</a> <img src="{gen_theme_url('images/i.png')}" class="ico"> <a href="?url=resource/create">选择发布类型</a> <img src="{gen_theme_url('images/i.png')}" class="ico"> <a href="javascript://">发布内容</a> </div>
	
	<div class="clearfix m10">
 <form action="?url=resource/create" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type="hidden" name="mid" value="{$mid}">
		<div class="sidebar">
			{foreach $attribute as $val}
				{if $val.type==select}
				<div class="m10">
					{$val.name}:
					<select name="attribute[{$val.id}]">
					  {foreach $val.value as $v}
					    <option value="{$v}">{$v}</option>
					  {/foreach}
					</select>
				</div>
				{/if}
			{/foreach}
			<div class="clearfix m10"><input name="" type="button" class="fr btn_fb" onclick="submit()"></div>
		</div>
		<div class="center">

			{foreach $attribute as $val}
				{if $val.type==input}
						<div class="input_title mt10">
						{$val.name}:
					  	<input type="input" name="attribute[{$val.id}]" />
						</div>
				{elseif $val.type==text}
				<h1 class="caution_ttl">{$val.name}</h1>
					<div class="input_con mt10">
						<div><textarea name="attribute[{$val.id}]"></textarea></div>
					</div>
				{elseif $val.type==file}
					<div class="input_title mt10">
					{$val.name}:
				  	<input type="file" name="attribute_{$val.id}" />
					</div>
				{elseif $val.type==checkbox}
					<div class="input_title mt10">
					{$val.name}:
					  {foreach $val.value as $v}
					    <input type="checkbox" name="attribute[{$val.id}][]" value="{$v}">{$v}
					  {/foreach}
					</div>
				{/if}
			{/foreach}
		</div>
	</div>
	</form>
</div>
<!--/main-->
<script type="text/javascript" src="../Library/3rd/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="js/tinyMCE.config.js"></script>

{include file="lib/footer.html"}