{include file="lib/header.html"}
<!--main-->
<div id="main">
  {include file="lib/history.html"}
	<div class="breadcrumb"><a href="?url=index">首页</a> <img src="{gen_theme_url('images/i.png')}" class="ico"> <a href="?url=administrator">管理员</a> <img src="{gen_theme_url('images/i.png')}" class="ico"> <a href="?url=administrator/create">创建管理员</a> </div>
	<form action="?url=administrator/update" method="post" accept-charset="utf-8">
	<input type="hidden" name="action" value="model">
	<div class="clearfix m10">
		<div class="sidebar">
			<div class="clearfix m10"><input name="" type="button" class="fr btn_fb" onclick="submit()"></div>
		</div>
		<div class="center">
			<input type="hidden" name="id" value="{$data.id}">
			<div class="input_title mt10">
				用户名：<input name="info[name]" type="text" value="{$data.name}">
			</div>
			<div class="input_title mt10">
				别名：<input name="info[nickname]" type="text" value="{$data.nickname}">
			</div>
			<div class="input_title mt10">
				密码：<input name="info[password]" type="text" >不填写为不更改
			</div>
			<div class="input_title mt10">
				{foreach $group_list as $val}
					[{$val.name}：<input type="checkbox" name="admin_group_id[]" value="{$val.id}" {if $data.admin_group_id}{if in_array($val.id, $data.admin_group_id)} checked {/if}{/if}/>]&nbsp;&nbsp;
				{/foreach}
			</div>
		</div>
	</div>
	</form>
</div>
<!--/main-->
{include file="lib/footer.html"}